h1 {
  background: linear-gradient(to right, #dfcbc8, #c0b3a9);
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", serif;
  color: #1d1d1d;
  text-align: center;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", serif;
  color: #333;
  text-align: center;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  transition: 0.3s;
  align-content: center;
  margin: auto;
  padding: 30px;
}

