h1 {
  background: linear-gradient(to right, #dfcbc8, #c0b3a9);
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  color: #1d1d1d;
  text-align: center;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  color: #333;
  text-align: center;
}

.product-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  transition: 0.3s;
  align-content: center;
  margin-left: 5%;
}

.card {
  border: 1px solid #ddd;
  background-color: #fffaf8;
  border-radius: 8px;
  overflow: hidden;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: max-height 0.3s;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h2 {
  font-size: 18px;
  margin: 8px 0;
}

.card p {
  margin: 4px 0;
}
